* {
  font-family: mono;
}

/* Main body */
body {
  background-color: #171717;
  color: #e7e7e7;
  font-size: 1em;
  margin-left: 20vw;
  margin-right: 20vw;
}

/* Links href a  */
a {
  background-color: #171717;
  color: #e7e7e7;
}
